@model SearchForm.Models.ViewModels.GlobalViewModel
@{
    ViewBag.Title = "ColagemDeOrganizacao";
}
<br />
<br />
<div>
    <div>
        @if (ViewBag.Alert != string.Empty)
        {
            <script type="text/javascript">
                alert('@ViewBag.Alert');
            </script>
        }
        @using (Html.BeginForm("EnfaseEstrategicaView", "Pages", FormMethod.Post))
        {
            <div>
                <div class="QuestionTitle">
                    <h4>Pergunta 4 - Colagem De Organização</h4>
                </div>
                <div class="QuestionDescription">
                    A - O estilo de gestão na organização é caracterizado pelo trabalho em equipe, consenso e participação
                </div>
                <table class="TextBox">
                    <tr>
                        <th>
                            @Html.TextBoxFor(m => m.ColagemDeOrganizacao.CO_LetraAExpect, new { @class = "expectForm", @required = "required", placeholder = "Expectativa", autocomplete = "off" })
                            @Html.TextBoxFor(m => m.ColagemDeOrganizacao.CO_LetraAReal, new { @class = "realForm", @required = "required", placeholder = "Realidade", autocomplete = "off" })
                        </th>
                    </tr>
                </table>
                <div class="QuestionDescription">
                    B - O estilo de gestão na organização é caracterizado pelo risco individual, inovação, liberdade e exclusividade
                </div>
                <table class="TextBox">
                    <tr>
                        <th>
                            @Html.TextBoxFor(m => m.ColagemDeOrganizacao.CO_LetraBExpect, new { @class = "expectForm", @required = "required", placeholder = "Expectativa", autocomplete = "off" })
                            @Html.TextBoxFor(m => m.ColagemDeOrganizacao.CO_LetraBReal, new { @class = "realForm", @required = "required", placeholder = "Realidade", autocomplete = "off" })
                        </th>
                    </tr>
                </table>
                <div class="QuestionDescription">
                    C - O estilo de gestão na organização é caracterizado pela competitividade, alta demanda e conquista
                </div>
                <table class="TextBox">
                    <tr>
                        <th>
                            @Html.TextBoxFor(m => m.ColagemDeOrganizacao.CO_LetraCExpect, new { @class = "expectForm", @required = "required", placeholder = "Expectativa", autocomplete = "off" })
                            @Html.TextBoxFor(m => m.ColagemDeOrganizacao.CO_LetraCReal, new { @class = "realForm", @required = "required", placeholder = "Realidade", autocomplete = "off" })
                        </th>
                    </tr>
                </table>
                <div class="QuestionDescription">
                    D - O estilo de gestão na organização é caracterizado pela segurança do emprego, conformidade, previsibilidade e estabilidade nos relacionamentos
                </div>
                <table class="TextBox">
                    <tr>
                        <th>
                            @Html.TextBoxFor(m => m.ColagemDeOrganizacao.CO_LetraDExpect, new { @class = "expectForm", @required = "required", placeholder = "Expectativa", autocomplete = "off" })
                            @Html.TextBoxFor(m => m.ColagemDeOrganizacao.CO_LetraDReal, new { @class = "realForm", @required = "required", placeholder = "Realidade", autocomplete = "off" })
                        </th>
                    </tr>
                </table>
            </div>
            <input class="QuestionSubmit" type="submit" value="Próximo" />
        }
    </div>
</div>
