@model SearchForm.Models.ViewModels.GlobalViewModel

@{
    ViewBag.Title = "CaractetisticasDominantes";
}

<div>
    <h2 class="pageOneHeader">
        A seguir, você responderá 6 questionários da seguinte maneira: Você tem 100% de valor e deve distribuí-los nas quatro alternativas abaixo. Exemplo: Na Alternativa A - 70, na B - 20, C - 5 e D - 5. Deve fazer
        desta forma tanto nos campos expectativa, quanto nos campos realidade.
    </h2>
</div>
<br />
<div>
    <div>
        @if (ViewBag.Alert != string.Empty)
        {
            <script type="text/javascript">
                alert('@ViewBag.Alert');
            </script>
        }
        @using (Html.BeginForm("LiderancaOrganizacionalView", "Home", FormMethod.Post))
        {
            <div>
                <div>
                    <h4 class="QuestionTitle">Características Dominantes</h4>
                </div>
                <div class="q1">
                    A - A organização é um lugar muito pessoal. É como uma família extensa. As pessoas parecem compartilhar muito de si
                </div>
                <table class="TextBox">
                    <tr>
                        <th>
                            @Html.TextBoxFor(m => m.CaracteristicasDominantes.CD_LetraAExpect, new { @class = "expectForm", @required = "required", placeholder = "Expectativa" })
                            @Html.TextBoxFor(m => m.CaracteristicasDominantes.CD_LetraAReal, new { @class = "realForm", @required = "required", placeholder = "Realidade" })
                        </th>
                    </tr>
                </table>
                <div class="q2">
                    B - A organização é um lugar dinâmico e empreendedor. As pessoas estão dispostas a arriscar seus pescoços e correr riscos
                </div>
                <table class="TextBox">
                    <tr>
                        <th>
                            @Html.TextBoxFor(m => m.CaracteristicasDominantes.CD_LetraBExpect, new { @class = "expectForm", @required = "required", placeholder = "Expectativa" })
                            @Html.TextBoxFor(m => m.CaracteristicasDominantes.CD_LetraBReal, new { @class = "realForm", @required = "required", placeholder = "Realidade" })
                        </th>
                    </tr>
                </table>
                <div class="q3">
                    C - A organização é muito orientada para resultados. Uma grande preocupação é fazer o trabalho. As pessoas são muito competitivas e orientadas para a realização
                </div>
                <table class="TextBox">
                    <tr>
                        <th>
                            @Html.TextBoxFor(m => m.CaracteristicasDominantes.CD_LetraCExpect, new { @class = "expectForm", @required = "required", placeholder = "Expectativa" })
                            @Html.TextBoxFor(m => m.CaracteristicasDominantes.CD_LetraCReal, new { @class = "realForm", @required = "required", placeholder = "Realidade" })
                        </th>
                    </tr>
                </table>
                <div class="q4">
                    D - A organização é um lugar muito controlado e estruturado. Procedimentos formais geralmente governam o que as pessoas fazem
                </div>
                <table class="TextBox">
                    <tr>
                        <th>
                            @Html.TextBoxFor(m => m.CaracteristicasDominantes.CD_LetraDExpect, new { @class = "expectForm", @required = "required", placeholder = "Expectativa" })
                            @Html.TextBoxFor(m => m.CaracteristicasDominantes.CD_LetraDReal, new { @class = "realForm", @required = "required", placeholder = "Realidade" })
                        </th>
                    </tr>
                </table>
            </div>
            <input class="QuestionSubmit" type="submit" value="Próximo" />
        }
    </div>
</div>
